uvicorn==0.32.0
fastapi==0.115.4
uvloop==0.21.0
python-dotenv==1.0.1
langchain-community==0.3.3
shortuuid==1.0.13
langchain-ollama==0.2.0
langchain-postgres==0.0.12
psycopg[binary]==3.2.3
langdetect==1.0.9
sqlalchemy==2.0.36
langchain-groq==0.2.1
setuptools==75.6.0
